<!DOCTYPE html>
<html lang="">

<head>
    <link rel='stylesheet' href="style.css">
    <title></title>
</head>

<body>

    <header>
        Hello welcome to my layout!
    </header>

    <div class=main>

        <div class=left>

            <img src="Images/sunset-3120484_960_720.jpg">
        </div>
        <div class=right>

            <img src="Images/the-sea-3025268_1920.jpg">
        </div>
        <div class=copyright>
           
            <img src="Images/tiger-3264048_960_720.jpg">

        </div>
    </div>


</body>

</html>
